# E-Commerce Analytics â€” Full Project Notebook
Run RFM, CLV, and clustering step-by-step using the provided sample dataset.

In [9]:
import sys
print(sys.executable)

c:\Users\Arvind M\Desktop\ecom_analytics_project\venv\Scripts\python.exe

In [11]:
import os
os.chdir(r"C:\Users\Arvind M\Desktop\ecom_analytics_project")
os.getcwd()

'C:\\Users\\Arvind M\\Desktop\\ecom_analytics_project'

In [1]:
import sys
sys.path.append(r"C:\Users\Arvind M\Desktop\ecom_analytics_project")

import pandas as pd
from scripts.data_prep import load_data, aggregate_orders
from scripts.clv import simple_clv
from scripts.clustering import cluster_customers

customers, orders, products = load_data('data')
rfm = aggregate_orders(orders)
rfm.head()

   customer_id  recency_days  frequency  monetary
0            1           157          2    2295.0
1            2           119          4    1793.0
2            3           239          1    2997.0
3            4            63          3    3791.0
4            5            95          2    7994.0

## Compute CLV

In [2]:
clv_df = simple_clv(rfm)
clv_df.sort_values('clv', ascending=False).head()

    customer_id     clv
19           20  4013.7
5             6  2786.4
4             5  2398.2
13           14  2397.6
11           12  2066.7

## Apply Customer Clustering

In [3]:
clustered = cluster_customers(rfm, n_clusters=4)
clustered.head()

c:\Users\Arvind M\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

   customer_id  recency_days  frequency  monetary  cluster
0            1           157          2    2295.0        0
1            2           119          4    1793.0        3
2            3           239          1    2997.0        0
3            4            63          3    3791.0        3
4            5            95          2    7994.0        2

## Export Data for Power BI

In [4]:
clustered.merge(customers, on='customer_id').to_csv('data/customers_enriched.csv', index=False)
orders.to_csv('data/orders_for_powerbi.csv', index=False)
products.to_csv('data/products_for_powerbi.csv', index=False)
"Export complete!"

'Export complete!'